.menu-details-container
  background-color: rgba(0,0,0,0.7)
  color: white
  text-align: center
  width: 90%
  margin: 10px auto
  padding: 7px .8rem
  ul
    padding: 0
    list-style: none
    text-align: left !important
    li p
      margin: 0