.menu-list-background
  background: url("../../images/menu-background.jpg") no-repeat center scroll
  background-size: cover
  height: 76rem
  .menu-list
    display: flex
    justify-content: center
    flex-wrap: wrap
    width: 96%
    background-color: rgba(0,0,0, 0.5)
    color: white
    margin: 3.7rem auto 0 auto
    padding: 10px 0
    ul
      list-style: none
      padding: 4px 7px
      margin: 0
