.home-specials
  display: flex
  flex-direction: column
  height: 115vh
  background: black
  color: white
  padding: 0 10px
  h1
    text-align: center
    font-size: 24px
  h2
    font-size: 20px
  .item-price__div
    display: flex
    justify-content: space-between
    h3
      margin: 0
      padding: 0
      font-size: 16px
  .description__div
    p
      margin: 0 0 10px 0
      padding: 0
      font-size: 14px
