.block-one {
    display: flex;
    flex-direction: column;
    margin-top: 465px;
    padding: 0 10px 0 10px;
    border: 1px solid black;
    height: auto;
    background-color: #ffffff
}

.block-one h1 {
    font-size: 1.313em;
    text-align: center;
}
.block-one p {
    text-align: center;
}