.blocktwo {
    background: url("../images/jonas-jacobsson-628316-unsplash.jpg") center no-repeat;
    background-size: cover;
}

.description-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    margin: 20px 0 20px 10px;
    width: 70%;
}

.description-container p {
    color: white;
}

.description-container h1 {
    color: white;
}