footer{
    background-color: black;
    color: white;
    flex-direction: column;
}

footer div {
    display: flex;
    align-content: center;
    font-size: 0.9em;
    flex-direction: column;
}

footer div p {
    text-align: center;
    padding: 5px 0 5px 0;
}

footer p {
    text-align: center;
    margin: 3px 0 3px 0;
    font-size: 0.7em;
}