.block-three {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
    border: 1px solid black;
    height: auto;
    background-color: #ffffff;
    margin-top: unset;
}

.block-three h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 5px 0 5px 0;
}
.block-three p {
    text-align: center;
}