.nav-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: white;
    position: fixed;
}

.nav-container div {
}

.nav-container .menu-icon {
    grid-column: 3 / 4;
    text-align: right;
}

.nav-container .menu-icon img {
    padding: 3px 7px 0 0;
}

.nav-container .logo  {
    padding: 3px 0 0 7px;
}

.dropdown {
    width: 25%;
    background: rgba(250, 250, 250, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    padding: 4px 7px 0 7px;
    border: 1px solid lightgrey;
    transform: translateY(20px);
    transition: transform 300ms ease-in-out;
}
.dropdown li {
    width: 100%;
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 5px 0;
}

