footer
  .footer__hours
    text-align: center
    p span
      font-weight: bold

  .footer__info
    background-color: black
    color: white
    font-size: 0.7rem
    div
      display: flex
      padding: 0 5px
      justify-content: space-evenly
      p span
        font-weight: bold
      p a
        color: white
        text-decoration: none
    .footer__copyright
      text-align: center